html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a{
    display: inline-block;
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1850px;
    margin: 0 auto;
    padding: 0 15px;
}

//breadcrumbs
.breadcrumbs {
    padding-top: 40px;
    margin-left: 23.5%;
}
.breadcrumbs-menu {
    display: inline-block;
    span {
        font-size: 18px;
    }
    &__arrow {
        color: $orange;
        padding: 0 6px;
        font-size: 20px;
    }
    &__first {
        color: #000;
        font-weight: 300;
        &:hover {
            text-decoration: underline;
        }
    }
    &__bolt { 
            color: #000;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
    }
}