$w-65: 65px;
$w-107: 107px;
$w-139: 139px;
$w-181: 181px;
$w-266: 266px;
$w-275: 275px;
$w-297: 297px;
$w-318: 318px;
$w-360: 360px;
$w-375: 375px;
$w-488: 488px;
$h-30: 30px;
$padding__left-11px: 11px;
$padding__right-11px: 11px;