@import '_vars';
@import '_global';
@import '_fonts';
@import '_buttons';
@import '_inputs';
@import '_checkbox';

.w-65 {
    width: $w-65;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-107 {
    width: $w-107;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-139 {
    width: $w-139;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-170 {
    width: $w-170;
    height: $h-24;
    border-radius: $border-radius;
    border: $border-green;
    cursor: pointer;
}

.w-181 {
    width: $w-181;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-266 {
    width: $w-266;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-275 {
    width: $w-275;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-297 {
    width: $w-297;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-318 {
    width: $w-318;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-360 {
    width: $w-360;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-488 {
    width: $w-488;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-375 {
    width: $w-375;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.title__on-page {
    font-family: $fontRoboto;
    font-size: 24px;
    font-weight: 500;
    color: $orange;
    padding: 20px 0 20px 20px;
}


// btn
.button__main {
    width: $w-107;
    height: $h-24;
    cursor: pointer;
    font-weight: 500;
    border-radius: $border-radius;
    border: $border-green__1px;
    background-color: #fff;
}

.button__main:hover {
    background-color: $green;
    color: #fff;
    transition: 0.5s;
}


/*START Disabled AND CHECKBOX */
.check {
    padding-left: 1.3em;
}

.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check__box {
    position: absolute;
    margin-top: 0.5em;
    margin-left: -1.1em;
    width: $w-22;
    height: $w-22;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em $green;
}

/* Checked */
.check__input:checked + .check__box {
    background-color: $green;
    background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

/* Focused */
.check__input:focus + .check__box {
    box-shadow:
        0 0 0 0.1em $green,
        0 0 0 0.2em $light-green;
}
/* Disabled */
.check__input:disabled + .check__box {
    box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
    background-color: #9B9B9B;
}
/*END Disabled AND CHECKBOX */


//STYLES
.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    align-items: center;
}


.header__search {
    display: flex;
    margin-right: auto;
    margin-left: 300px;
    &-text {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        color: $green;
        padding-top: 4px;
    }
    &-inner {
        margin-right: auto;
        height: 40px;
        margin-left: 72px;
        border-left: 2px solid $green ;
        padding-left: 20px;
    }
    &-form {
        padding-top: 1px;
        width: 400px;
        // border-bottom: 1px solid #BBBBBB;
        input[type=text] {
            border: none;
            border-bottom: 1px solid #54aa8c;;
        }
        input {
            color: #54aa8c;
            height: 25px;
            border: none;
            width: 355px;
            padding-bottom: 6px;
            &::placeholder {
                color: #54aa8c;
            }
        }
    }
}

.header__menu {
    display: flex;
    margin-right: auto;
}
.header__bell {
    position: relative;
    padding-right: 20px;
    span {
        position: absolute;
        top: -3px;
        left: 34px;
        line-height: 18px;
        text-align: center;
        background-color: $orange;
        color: #fff;
        border-radius: 50%;
        width: 18px;
        height: 18px;
    }
    &-btn {
        border-radius: 50%;
        border: 2px solid $green;
    }
}
.header__user {
    padding-top: 13px;
    padding-right: 10px;
    font-size: 16px;
    span a{
        color: $orange;
    }
}
.header__exit-btn {
    padding-top: 10px;
    position: relative;
    span {
        color: $green;
        position: absolute;
        top: 14px;
        left: 34px;
        text-decoration: underline;
    }
}
//  index-main start
    .index-main{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
    .index-main__inner{
        text-align: center;
        padding-top: 95px;
    }
    .index__title{
        font-size: 24px;
        margin-top: 38px;
        color: $green;
    }
    .enter{
        margin-top: 39px;
        font-size: 24px;
    }
    .index__list{
        margin-bottom: 28px;
        li{
            a{
                color: $gray;
            }
            display: inline-block;
            & + li{
                margin-left: 73px;
            }
        }
        .index__list-active{
            a{
                color: $green;
            }
            border-bottom: 2px $green solid;
            
        }
    }
    .index-main__input{
        margin-bottom: 35px;
        font-size: 12px;
    }
    .index-main__btn{
        margin-bottom: 38px;
        button{
            padding: 5px 35px;
            cursor: pointer;
            font-weight: 500;
            border-radius: $border-radius;
            border: $border-green__1px;
            background-color: #fff;
            &:hover{
                background-color: $green;
                color: #fff;
                transition: 0.5s;
            }
        }
    }
    .account__link{
        font-size: 12px;
        color: $green;
        text-decoration: underline;
    }

.main {
    padding-top: 80px;
    &__container {
        display: flex;
        justify-content: start;
        height: 460px;
        .main__aside {
            padding-right: 62px;
            border-right: 1px solid #BBBBBB;
            .main__list {
                li {
                    padding-bottom: 47px;
                    span {
                        font-size: 18px;
                        color: #000;
                        padding-left: 10px;
                        font-weight: 500;
                    }
                    img {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}
// index-main end
.index-sms__btn{
    button{
        padding: 5px 65px;
        cursor: pointer;
        font-weight: 500;
        border-radius: $border-radius;
        border: $border-green__1px;
        background-color: #fff;
        &:hover{
            background-color: $green;
            color: #fff;
            transition: 0.5s;
        }
    }
}