@import '_vars';
@import '_global';
@import '_fonts';
@import '_buttons';
@import '_inputs';
@import '_checkbox';


.test {
    font-family: $fontRoboto;
    font-size: 30px;
    font-weight: 300;
    background-color: yellow;
    width: 300px;
    height: 40px;
}

.w-170 {
    width: $w-170;
    height: $h-24;
    border-radius: $border-radius;
    border: $border-green;
    cursor: pointer;
}

.w-360 {
    width: $w-360;
    height: $h-24;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-10px;
    padding-right: $padding__left-10px;
}
