@import '_vars';
@import '_global';
@import '_fonts';
@import '_buttons';
@import '_inputs';
@import '_checkbox';

.w-65 {
    width: $w-65;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-107 {
    width: $w-107;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-139 {
    width: $w-139;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-170 {
    width: $w-170;
    height: $h-24;
    border-radius: $border-radius;
    border: $border-green;
    cursor: pointer;
}

.w-181 {
    width: $w-181;
    height: $h-30;
    border: $border-green__2px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-266 {
    width: $w-266;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-275 {
    width: $w-275;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-297 {
    width: $w-297;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-318 {
    width: $w-318;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-360 {
    width: $w-360;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-488 {
    width: $w-488;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

.w-375 {
    width: $w-375;
    height: $h-30;
    border: $border-green__1px;
    border-radius: $border-radius;
    padding-left: $padding__left-11px;
    padding-right: $padding__left-11px;
}

#textarea__text {
    border-radius: 5px;
    border: 1px solid $green;
    padding-left: 9px;
    padding-top: 9px;
}

// select
form .select {
    margin-bottom: 15px;
    position: relative;
}
select {
    width: 366px;
    height: 41px;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    color: #000;
    border-radius: 10px;
    border: 2px solid $green;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
.select-arrow {
    position: absolute;
    top: 58px;
    right: 24px;
    width: 11px;
    height: 11px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: $orange transparent transparent transparent;
}

.characteristics {
    padding-top: 40px;
}
.characteristics__lines {
    padding-bottom: 0px;
    width: 470px;
    position: relative;
    &::after {
        content: '';
        display: block;
        background: url('../img/main__page/red__star.png') no-repeat right center;
        position: absolute;
        top: 44px;
        right: 85px;
        width: 11px;
        height: 11px;
    }
    .select-arrow {
        position: absolute;
        top: 58px;
        right: 121px;
    }
}
.characteristics__trays {
    padding-bottom: 0px;
    width: 300px;
    position: relative;
    padding-bottom: 20px;
    &::after {
        content: '';
        display: block;
        background: url('../img/main__page/red__star.png') no-repeat right center;
        position: absolute;
        top: 44px;
        right: 145px;
        width: 11px;
        height: 11px;
    }
    &::before {
        content: '?';
        display: block;
        position: absolute;
        text-align: center;
        color: #fff;
        top: 14px;
        right: -6px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        background-color: $orange;
        border-radius: 50%;
    }

}
.characteristics__block {
    padding-bottom: 0px;
    width: 370px;
    position: relative;
    &::after {
        content: '';
        display: block;
        background: url('../img/main__page/red__star.png') no-repeat right center;
        position: absolute;
        top: 36px;
        right: -11px;
        width: 11px;
        height: 11px;
    }
}

.outcome__block {
    padding-bottom: 0px;
    width: 370px;
    position: relative;
    &::after {
        content: '';
        display: block;
        background: url('../img/РМ00002516__page/greenStar.svg') no-repeat right center;
        position: absolute;
        top: 36px;
        right: -11px;
        width: 11px;
        height: 11px;
    }
}

.title__on-page {
    font-family: $fontRoboto;
    font-size: 27px;
    font-weight: 700;
    color: $orange;
    // padding: 5px 0 10px 20px;
}


// btn
.button__main {
    width: $w-107;
    height: $h-24;
    cursor: pointer;
    font-weight: 500;
    border-radius: $border-radius;
    border: $border-green__1px;
    background-color: #fff;
}

.button__main:hover {
    background-color: $green;
    color: #fff;
    transition: 0.5s;
}


/*START Disabled AND CHECKBOX */
.check {
    padding-left: 1.3em;
}

.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check__box {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: $w-22;
    height: $w-22;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em $green;
}
.main__block-check {
    padding-left: 20px;
}

/* Checked */
.check__input:checked + .check__box {
    background-color: $green;
    background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

/* Focused */
.check__input:focus + .check__box {
    box-shadow:
        0 0 0 0.1em $green,
        0 0 0 0.2em $light-green;
}
/* Disabled */
.check__input:disabled + .check__box {
    box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
    background-color: #9B9B9B;
}
/*END Disabled AND CHECKBOX */


//STYLES
.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    align-items: center;
}


.header__search {
    display: flex;
    margin-right: auto;
    margin-left: 200px;
    &-text {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        color: $green;
        padding-top: 4px;
    }
    &-inner {
        margin-right: auto;
        height: 40px;
        margin-left: 72px;
        border-left: 2px solid $green ;
        padding-left: 20px;
    }
    &-form {
        padding-top: 1px;
        width: 400px;
    

        input[type=text] {
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            border: none;
            border-bottom: 1px solid #54aa8c;;
        }
        input[type=text]:focus {
            background-color: #b7efdb;
        }
        input {
            color: #54aa8c;
            min-width: 355px;
            padding: 12px 20px;
            box-sizing: border-box;
            outline: none;
            border: 1px solid #555;
            margin-bottom: 4px;
            &::placeholder {
                color: #54aa8c;
            }
        }
    }
}

.header__menu {
    display: flex;
    margin-right: auto;
}
.header__bell {
    position: relative;
    padding-right: 20px;
    span {
        position: absolute;
        top: -3px;
        left: 34px;
        line-height: 18px;
        text-align: center;
        background-color: $orange;
        color: #fff;
        border-radius: 50%;
        width: 18px;
        height: 18px;
    }
    &-btn {
        border-radius: 50%;
        border: 2px solid $green;
    }
}
.header__user {
    padding-top: 13px;
    padding-right: 10px;
    font-size: 16px;
    span a{
        color: $orange;
    }
}
.header__exit-btn {
    padding-top: 10px;
    position: relative;
    span {
        color: $green;
        position: absolute;
        top: 14px;
        left: 34px;
        text-decoration: underline;
    }
}
//  index-main start
    .index-main{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
    .index-main__inner{
        text-align: center;
        padding-top: 95px;
    }
    .index__title{
        font-size: 24px;
        margin-top: 38px;
        color: $green;
    }
    .enter{
        margin-top: 39px;
        font-size: 26px;
        font-weight: 500;
    }
    .index__list{
        margin-bottom: 28px;
        font-size: 16px;
        li{
            a{
                color: $gray;
            }
            display: inline-block;
            & + li{
                margin-left: 73px;
            }
        }
        .index__list-active{
            a{
                color: $green;
            }
            border-bottom: 2px $green solid;
            
        }
    }
    .index-main__input{
        margin-bottom: 35px;
        font-size: 14px;
    }
    .index-main__btn{
        margin-bottom: 38px;
        button{
            padding: 5px 35px;
            cursor: pointer;
            font-weight: 500;
            border-radius: $border-radius;
            border: $border-green__1px;
            background-color: #fff;
            font-size: 16px;
            &:hover{
                background-color: $green;
                color: #fff;
                transition: 0.5s;
            }
        }
    }
    .account__link{
        font-size: 16px;
        color: $green;
        text-decoration: underline;
    }



.main {
    padding: 80px 0;
    &__container {
        display: flex;
        justify-content: start;
        height: auto;
        .main__aside {
            padding-right: 62px;
            border-right: 1px solid #BBBBBB;
            .main__list {
                li {
                    padding-bottom: 21px;
                    .main__list-a {
                        padding-top: 4px;
                        width: 344px;
                        height: 62px;
                        padding-left: 15px;
                        &:hover {
                            background-color: $light-gray;
                            border-radius: 15px;
                        }
                    }
                    span {
                        font-size: 18px;
                        color: #000;
                        padding-left: 10px;
                        font-weight: 500;
                    }
                    img {
                        padding-top: 10px;
                    }
         
                }
                .main__list-li {
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                   }
                }
                .list__request {
                    position: relative;
                    li {
                        padding-left: 80px;
                        color: black;
                        font-size: 15px;
                        font-weight: 500;
                        &::before {
                            position: absolute;
                            left: 50px;
                            content: '';
                            width: 12px;
                            height: 12px;
                            background-color: $green;
                            border-radius: 50%;
                        }
                    }
                    .link-request {
                        color: #000;
                        width: auto;
                        height: auto;
                        &:hover {
                            background-color: #fff;
                            border-radius: none;
                        }
                    }
                }
            }
        }
    }
}
// index-main end
.index-sms__btn{
    button{
        padding: 5px 65px;
        cursor: pointer;
        font-weight: 500;
        border-radius: $border-radius;
        border: $border-green__1px;
        background-color: #fff;
        &:hover{
            background-color: $green;
            color: #fff;
            transition: 0.5s;
        }
    }
}
.index-registr__btn{
    button{
        padding: 5px 26px;
        cursor: pointer;
        font-weight: 500;
        border-radius: $border-radius;
        border: $border-green__1px;
        background-color: #fff;
        &:hover{
            background-color: $green;
            color: #fff;
            transition: 0.5s;
        }
    }
}
// index-register start
    .index-registr__input{
        display: block;
    }
    .checkbox__inner-register{
        li{
            display: inline-block;
        }
    }

.main__block {
    padding: 5px 0 10px 20px;
    width: 100%;
    &-h3 {
        padding-left: 20px;
        font-size: 16px;
    }
    span {
        a {
            text-decoration: underline;
            color: $green;
        }
    }
    &-paragraff {
        padding: 30px 0 0 0;
        font-size: 16px;
        color: $green;
        font-weight: 700;
    }
    &-text {
        min-width: 900px;
        display: flex;
        padding: 20px 0;
        justify-content: space-between;
        
        &--name {
            font-weight: 500;
        }
        &--about {
            text-decoration: underline;
        }
    }
    &-result {
        margin-bottom: 30px;
    }
    &-buttons {
        padding-top: 20px;
        button {
            padding: 5px 35px;
            cursor: pointer;
            font-weight: 500;
            border-radius: 5px;
            border: 1px solid #006843;
            background-color: #fff;
            font-size: 16px;
            &:hover {
                background-color: #006843;
                color: #fff;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }
        }
        .btn {
            margin-right: 15px;
        }
    }
    &-statistics {
        padding-top: 30px;
        .statistics-title{
            display: flex;
            justify-content: space-around;
            max-width: 1088px;
            height: 87px;
            border-radius: 10px;
            background: rgba(177, 178, 178, 0.2);
            // background: $light-gray;
            padding: 36px 15px;
            .statistics-name{
                font-size: 15px;
                font-weight: 500;
                border-right: 1px solid #bbb;
                padding-right: 30px;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    &-lot {
        padding-top: 30px;
        .lot-title{
            display: flex;
            justify-content: space-around;
            min-width: 1088px;
            width: 100%;
            height: 87px;
            border-radius: 10px;
            // background: rgba(177, 178, 178, 0.2);
            background: $light-gray;
            padding: 36px 15px;
            .lot-name{
                font-size: 15px;
                font-weight: 500;
                border-right: 1px solid #bbb;
                &:first-child {
                    min-width: 420px;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
        .lot-content {
            padding-top: 30px;
            color: $green;
            a {
                color: $green;
                text-decoration: underline;
            }
        }
        .lot-description {
            padding-bottom: 20px;
            display: flex;
            // justify-content: space-around;
            &__p {
                margin-top: 2px;
                padding-left: 40px;
                padding-right: 80px;
                font-size: 12px;
            }
            &__numberbox {
                width: 830px;
                display: flex;
                justify-content: space-around;
            }
        }
    }
    &-info-block {
        max-height: 680px;
        overflow-x: hidden;
        margin-top: 30px;
        .info-block {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-around;
            max-width: 1088px;
            height: 87px;
            border-radius: 10px;
            background: #B8FFB633;
            padding: 36px 15px;
            .info-name{
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                border-right: 1px solid #bbb;
                padding-right: 15px;
                &:last-child {
                    border-right: none;
                }
            }
            .info-block__data {
                color: $green;
                font-weight: 700;
            }
        }
    }
}


//Онлайн расчеты продукции
.main__block-images {
    display: flex;
    flex-wrap: wrap;
}

.main__block-calculations {
    width: 296px;
    height: 253px;
    text-align: center;
    padding: 10px 14px 21px 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.2);
    border-radius: 10px;    
    font-size: 17px;
    margin: 20px 0px 10px 30px;
    &--img {
        padding-top: 20px;
    }
    &:hover {
        cursor: pointer;
        background-color: #d4d6d270;
        text-decoration: underline;
    }
}

//Мои расчеты
.main__block-lists,
.list__customer {
    display: flex;
    .list__customer a{
        display: flex;
        color: #000;
        font-weight: 500;
        font-size: 15px;
        padding-top: 2px;
        &:hover {
            border-bottom: 2px solid $green;
        }
    }
    .list__customer-link {
        padding-left: 50px;
    }
    .list__customer-link--filter {
        padding-left: 50px;
    }
}

.form__block {
    position: relative;
    padding-bottom: 20px;
    width: 370px;
}

.form__divText {
    font-weight: 500;
    font-size: 17px;
    padding: 12px 0;
}

.customer-page__btn,
.edit-page__btn {
    padding-top: 30px;
}

.edit-page__btn{    
    button{
        padding: 5px 15px;
        cursor: pointer;
        font-weight: 500;
        border-radius: $border-radius;
        border: $border-green__1px;
        background-color: #fff;
        font-size: 16px;
        &:hover{
            background-color: $green;
            color: #fff;
            transition: 0.5s;
        }
    }
}

.customer-page__btn--second {
    margin-left: 30px;
}

.form__date {
    span {
        padding: 0 10px;
    }
    .span__divText--first {
        padding: 0 10px 0 0;
    }
}
// фильтры (объекты)
.object__inner{
    padding-top: 48px;
}
.object__item{
display: flex;

}
.object__item-title{
    font-size: 14px;
    color: $gray;
    margin-bottom: 30px;
    .object__item-title-text{
        margin-bottom: 30px;
    }
}
.object__item-content{
    margin-left: 187px;
    color: $gray;
    .object__item-content-text{
        margin-bottom: 30px;
        .object__item-content-text__link{
            color: $green;
            text-decoration: underline;
        }
    }
}
.object-btn{
    background-color: transparent;
    transition: all .3s;
    &:hover{
        background-color: $green;
        color: #fff;
    }
}
// textarea
.textarea{
    width: $w-297;
    height: 102px;
    border-radius: $border-radius; 
    border: $border-green__1px;
    padding-left: $padding__left-11px;
    outline: none;
}
// редактировать статус 
.edit-the-status__form{
padding-top: 46px;
color: $gray;
}
.edit-the-status__box{
    display: flex;
    margin-bottom: 30px; 
    .textarea{
        margin-left: 38px;
    }
}
.edit-the-status__text{
    margin-top: 0;
}
.edit-the-status__btn{
    background-color: transparent;
    transition: all .3s;
    & + .edit-the-status__btn{
        margin-left: 20px;
    }
    &:hover{
        background-color: $green;
        color: #fff;
    }
}
// фильтры техническое решения 

.tech-decisions__button-box{
    padding-top: 23px;
}
.tech-decisions__btn{
    font-size: 11px;
    background-color: transparent;
    transition: all .3s;
    &:hover{
        background-color: $green;
        color: #fff;
    }
    & + .tech-decisions__btn{
        margin-left: 26px;
    }
}
.tech-decisions__title{
    color: $green;
    margin: 22px 0px 18px 0px;
}
.tech-decisions__content-box{
    color: $gray;
    display: flex;
    position: relative;
}
.tech-decisions__content-left{
    &__item{
        margin-bottom: 17px;
        padding: 22px 0px 22px 56px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../img/page__page/bag-icon.png);
            top: 22px;
            left: 16px;
            width: 18px;
            height: 18px;
        }
    }
    &__item-active{
        background-color: rgba(177, 178, 178, 0.2); 
        max-width: 296px;
        border-radius: 10px;
    }
}
.tech-decisions__line{
    height: 1px;
    width: 17px;
    background-color: $green;
    position: absolute;
    top: 31px;
    left: 248px;
}
.tech-decisions__content-right{
    max-width: 333px;
    min-height: 181px;
    background-color: rgba(177, 178, 178, 0.2); 
    padding: 21px 21px 0px 25px;
    margin-left: 22px;
    border-radius: 10px;
    .tech-decisions__content-right__title{
        margin-bottom: 24px;
    }
    .tech-decisions__content-right__link{
        color: $green;
        cursor: pointer;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 3px;
            left: -21px;
            background-image: url(../img/РМ00002516__page/file.svg);
            height: 16px;
            width: 16px;
        }
    }
}
// фильтры расчеты
.filters-calculations__text{
    color: $green;
    margin-bottom: 27px;
    margin-top: 20px;
    font-weight: 500;
}
.filters-calculations__link-box{
    margin-bottom: 35px;
}
.filters-calculations__link{
    display: block;
    color: $green;
    font-weight: 300;
    text-decoration: underline;
}
.filters-calculations__title{
    color: $green;
    font-weight: 500;
    margin-bottom: 14px;
}
.filters-calculations__table{
    display: flex;
    align-items: center;
    max-width: 1088px;
    margin-bottom: 15px;
    background-color: rgba(177, 178, 178, 0.2);
    padding: 12px 0px 12px 14px;
    border-radius: 10px;
    font-size: 12px;
}
.filters-calculations__table__item{
    padding: 12px 0px 12px 17px;
    width: 30%;
    border-right: 1px solid #bbbbbb;
    &:last-child{
        border: none;
    }
}
.filters-calculations__table-second{
    background-color: #B8FFB6;
    color: $gray;
    font-weight: 300;
}

.improvement {
    display: flex;
    flex-wrap: wrap;
    &-content {
        padding-right: 20px;
        &__btn {
            position: relative;
          button {
              color: $green;
              padding-left: 23px;
              padding-top: 40px;
              padding-bottom: 20px;
              &::before {
                content: '';
                position: absolute;
                // display: block;
                background: url('../img/Catalog__page/pencil.svg') no-repeat center;
                // top: 36px;
                left: 1px;
                width: 16px;
                height: 16px;
              }   
          }
      }
      &__image {
          border-left: 1px solid $light-gray;
      }
      &__link {
        padding-top: 20px;
          a {
              color: $green;
              text-decoration: underline;
          }
      }
    }
}

.information {
    display: flex;
    &__catalog-name,
    &__files-name {
        padding: 20px 0;
        color: $green;
        font-weight: 700;
    }
    &__catalog-data {
        width: 340px;
        height: 285px;
        border-right: 1px solid $light-gray;
    }
    &__catalog-list {
        a {
            color: #000;
        }
     }
    
}

.information__catalog-list {
      position: relative;
      li {
        padding-left: 30px;
        padding-bottom: 15px;
        a {
        &::before {
            content: '';
            display: block;
            background: url('../img/РМ00002516__page/folder.svg') no-repeat right center;
            position: absolute;
            width: 21px;
            height: 18px;
            left: 0px;
         }
        }
    }
}

.information__files {
    padding-left: 55px;
}
